$color-bg: #2c3e50;
$color-bg-primary: #087faee3;
$color-bg-main: #fcfcfc;
$color-bg-secondary: #f7f5f5;
$color-counter: #696969;
$color-text-primary: #ebf4f8;
$color-text-secondary: #202e3b;
$color-text-invert: #050505;
$color-text-hint: #756f86;
$color-inactive: #2c2738;
$color-border: #dbe2ea;
$color-error: #ff7171;

$font-primary: 16px;
